body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f0fdf4; /* fondo verde muy suave */
}

/* contenedor general */

.container{
max-width:1000px;  
margin:auto;
padding:30px;
}

/* navbar */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 25px;
background:#16a34a; /* verde principal */
color:white;
border-radius:10px;
margin-bottom:30px;
}

.navLinks a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

/* tarjetas */

.card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0px 6px 18px rgba(0,0,0,0.06); /* más suave y moderno */
}

/* títulos */

.titulo{
margin-bottom:20px;
color:#14532d; /* verde oscuro elegante */
}

/* formularios */

input,select{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #bbf7d0; /* borde verde claro */
}

input:focus{
outline:none;
border-color:#22c55e;
}

/* botones */

button{
background:#22c55e; /* verde principal */
color:white;
border:none;
padding:12px;
border-radius:8px;
cursor:pointer;
margin-top:10px;
font-weight:bold;
}

button:hover{
background:#16a34a; /* verde oscuro */
}

/* lista gastos */

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:8px 0;
padding:12px;
border-radius:8px;
box-shadow:0px 2px 6px rgba(0,0,0,0.05);
border-left:4px solid #22c55e; /* detalle pro */
}

/* alerta */

.alerta{
color:white;
background:#ef4444; /* rojo moderno */
padding:10px;
border-radius:8px;
margin-top:10px;
}